.category {
  /* background-color: black; */
  padding: 43px 120px;
}

.category_items_parent {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.category_items_parent > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: flex-start;

  gap: 24px;
}

.category_items_parent div:nth-child(1) h3 {
  color: #000;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.arrows{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category_items_container {
  display: flex;
  gap: 24px;
  overflow: hidden;
}

.category_item {
  /* background-color: black; */
  display: flex;
  align-items: center;
  padding: 10px 18px;
  background-color: #f0f0f4;
  max-width: 218px;
  border-radius: 20px;
  color: #3f3f3f;
  cursor: pointer;
}

.category_item p {
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.prev_btn,
.next_btn {
  border-radius: 50px;
  width: 30px;
  height: 30px;
  padding: 3px;
}

.prev_btn {
  background-color: #418c51;
}

.category_products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.small_screen_nav {
  display: none;
}

/* 
.category_products div{
    max-width: 115px;
    max-height: 200px;
} */

@media (max-width: 768px) {
  .small_screen_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 52px;
    background-color: white;
    padding: 0 16px;

    list-style: none;
  }

  .small_screen_nav li:nth-child(2) {
    color: #000;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .small_screen_nav li:nth-child(3) {
    color: #000;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .small_screen_nav img {
    transform: rotate(180deg);
  }

  .category {
    /* background-color: black; */
    padding: 0;
  }

  .category_items_parent {
    /* display: none */
    flex-direction: row;
    gap: 10px;
  }

  .category_items_parent > div:nth-child(1) {
    display: none;
  }

  .category_items_parent div:nth-child(1) > h3 {
    /* text-align: left;
        font-size: 20px; */
    display: none;
  }
  .category_items_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;

    overflow: visible;

    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .category_item {
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start !important;
    gap: 0px;
    padding: 10px 0;
    background-color: unset;
    max-width: 218px;
    border-radius: 20px;
    padding: 15px 19px 15px 0;
  }

  .category_item:hover {
    /* background-color: black; */
    border-radius: 0;
    border-top-right-radius: 39px;
    border-bottom-right-radius: 39px;
    background: #fc7e06;
    color: white;
  }

  .category_item p {
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
}
