.product_details {
    display: flex;

    gap: 75px;

    padding: 55px 121px;
}

.pics {
    display: flex;
}

.main_pic {
    height: 400px;
    width: 400px;

    border-radius: 100%;
    background-color: #FFE6C2;

    display: flex;
    align-items: flex-end;
}

.main_pic img {
    /* height: 400px;
    width: 400px;

    border-radius: 500px;
    background-color: #FFE6C2; */
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.details h2 {
    color: var(--black, #121025);
    font-family: Plus Jakarta Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50.5px;
}

.details .description {
    color: var(--black, #121025);
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.about_txt {
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 160% */
}

.quantity_container {
    display: flex;
    align-items: flex-end;
    gap: 25px;
}

.quantity_txt {
    color: var(--3, #A19FB0);
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.quantity_container select {
    width: 167px;
    height: 40px;
    border: 1px solid #EAEAEF;
    padding: 0 15px;

}

.details .price p:nth-child(1) {
    color: var(--purple-gray, #676B78);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    text-decoration-line: strikethrough;
}

.details .price p:nth-child(2) {
    color: #418C51;
    font-family: Plus Jakarta Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
}


.quantity {
    display: flex;
    align-items: center;
    height: 40px;

    border: 1px solid #EAEAEF;
}

.details .btn_cart {
    padding: 15px 0px;

    border: none;
    border-radius: 8px;
    background: #FC7E06;
    cursor: pointer;
}


.btn_quantity {
    background-color: transparent;
    border: none;
    cursor: pointer;

    padding: 10px 30px;
    height: min-content;

    /* background-color: blue; */
}


@media (max-width: 768px) {
    .product_details {
        display: flex;
        flex-direction: column;
        gap: 35px;
        padding: 15px;
    }

    .pics {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 12px;
    }

    .main_pic {
        height: 175px;
        width: 155px;
    }

    .main_pic img {
        height: 160px;
        width: 145px;
    }

    /* .pics_group  {
        display: flex;
        height: 44px;
        width: 44px;
    } */

    .pics_group img {
        height: 44px;
        width: 44px;
    }

    .details h2 {
        font-size: 24px;
        line-height: 42px;
    }

    .about_txt {
        display: flex;
        align-items: center;
        font-size: 12px;
    }

    .about_txt img{
        width: 20px;
        height: 15px;
        color: #000;
        transform: rotate(90deg);
    }
    
.quantity_container {
    display: flex;
    justify-content: space-between;
    gap: 17px;
}


.quantity_container select {
    width: 98px;
    height: 40px;
    border: 1px solid #EAEAEF;
    padding: 0 15px;

}


    .details .price p:nth-child(1) {
font-size: 12px;
    }
    
.details .price p:nth-child(2) {
    font-size: 20px;
    line-height: 37px;
}

.details .btn_cart {
    margin-top: 48px;
}


}