.card {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;

    width: 215px;
    height: 300px;
    padding: 23px 18px;

    border-radius: 10px;
    background: #fff;
    box-shadow: -4px 4px 36px 0px rgba(0, 0, 0, 0.12);

    position: relative;
}

.card .badge>img {
    align-self: flex-end;
    position: absolute;
    top: 0;
    right: -5px;

    width: 42.717px;
    height: 42.386px;
    /* z-index: ; */
    /* background-image: url("../Assets/badge.svg"); */
}

.badge>p {
    align-self: flex-end;
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 100;
    /* background-image: url("../Assets/badge.svg"); */

    color: #fff;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 10.8px */
}

.card .img_container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 128px;
    height: 128px;
    align-self: center;
    border-radius: 300px;
}

.card .img_container img {
    width: 103px;
    height: 119px;
}

.productName {
    color: #3f3f3f;
    font-family: Plus Jakarta Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.price p:first-child {
    color: #fc7e06;
    font-family: Plus Jakarta Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: line-through;
}

.price :last-child {
    color: #418b56;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card select {
    padding: 8px;
    font-size: 9px;
    /* border: 1px solid #ccc; */
    box-shadow: -4px 4px 36px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    outline: none;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: border-color 0.2s ease;
    background-color: white;
}

select:hover {
    border-color: #666;
}

select:focus {
    border-color: #525252;
}

.card button {
    display: flex;
    /* width: 102px; */
    padding: 4px 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;

    border-radius: 5px;
    border: 1px solid #fc7e06;
    background: #fff;

    /* text */

    color: #fc7e06;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.card button img {
    width: 11px;
    height: 14px;

    fill: #fc7e06;
}

.card .btn_group {
    display: flex;
    gap: 13px;
}

.products {
    padding: 57px 120px;
}

.products .top {
    display: flex;
    justify-content: space-between;
}

.products .top>div {
    display: flex;
    justify-content: space-between;
    gap: 29px;
}

.top h2 {
    color: #000;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.prev_btn,
.next_btn {
    border-radius: 50px;
    width: 30px;
    height: 30px;
    padding: 3px;
}

.prev_btn {
    background-color: #418c51;
}

@media (max-width: 768px) {
    .products {
        padding: 15px;
    }

    .products .top>div {
        display: none;
    }

    .top h2 {
        font-size: 20px;
    }

    .card {
        width: 95px;
        height: 193px;
        padding: 9px 10px;
    }

    .card select {
        padding: 8px 3px;
        font-size: 7px;
        /* border: 1px solid #ccc; */
        box-shadow: -4px 4px 36px 0px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        outline: none;
        background-color: #fff;
        color: #333;
        cursor: pointer;
        transition: border-color 0.2s ease;
        background-color: white;
    }

    .card .img_container {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        width: 70px;
        height: 70px;
        align-self: center;

        background-color: #ffe6c2;
        border-radius: 300px;
    }

    .card .img_container img {
        width: 55px;
        height: 63px;
    }

    .productName {
        font-size: 8px;
    }

    .price p:first-child {
        font-size: 6px;
    }

    .price :last-child {
        font-size: 12px;
    }

    .card .btn_group {
        justify-content: space-between;
    }
}